[LINE_BOT_CONGIGURE]
Channel_Access_Token=xzi/UuWyBe6zKnXrCj00OI+K1nYLtvhrYD0vkQLJBpf8sGrmGq53mnj4kD8LcPJWMmqHq3itQFfi7hbG0118dmZMbd3CCi7qDR0/cVmdYbwJCBgvf7NbsaBKoOJfip8oGwYwGfxjZEBUSc0x7eJLowdB04t89/1O/w1cDnyilFU=
Channel_Secret=294c14aa3597feb6470e07a108ed0747
Channel_User_ID =U2285185fe063d1e1099930f466c4297f